@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

$color-base0: #fff3b2;
$color-base1: #ffe0d8;
$color-acc: #ff9b93;
$color-fg: #41584b;

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $color-fg;
  background-color: $color-base1;
}

main {
  margin: 50px 150px;
}

.logo {
  width: 100%;
}

.randomize-btn {
  margin: 20px 0 0 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $color-acc;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.random-words {
  background-color: white;
  padding: 10px 15px;
  border: 2px dashed #ccc;
  margin-top: 20px;
  table {
    width: 100%;
    td {
      padding: 20px 0;
      text-align: center;
    }
  }
}
